<ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/jedis">Jedis</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/movies">Movies</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/movies/1">Edit Movie 1</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/movies/2">Edit Movie 2</a></li>
    <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/edit-movies">Edit movies</a></li>
  </ul>
