
<form [formGroup]="searchForm">
  <div class="form-group row">
    <label class="col-md-2 col-sm-4" for="searchInput">Zoeken</label>
    <div class="col-sm-8 col-md-10">
      <input id="searchInput" class="form-control" formControlName="search">
    </div>
  </div>
</form>

<table *ngIf="jedis; else loading" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Midichlorian</th>
    </tr>
  </thead>
  <tbody>
    <tr class="jedi" *ngFor="let jedi of jedisFiltered" [class.bg-warning]="isSelected(jedi)">
      <td *ngIf="isEdit(jedi)">
        <input name="jediNameInput" [(ngModel)]="jedi.name" />
      </td>
      <td *ngIf="!isEdit(jedi)">{{ jedi.name | jediMaster }}</td>
      <td>{{ jedi.midichlorian | midichlorian }}</td>
      <td><button class="sw-edit-jedi" (click)="toggleEdit(jedi)">Edit</button></td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
  <span>loading</span>
</ng-template>
