
<table *ngIf="jedis; else loading" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Midichlorian</th>
    </tr>
  </thead>
  <tbody>
    <tr class="jedi" *ngFor="let jedi of jedis" [class.bg-warning]="isSelected(jedi)">
      <td *ngIf="isEdit(jedi)">
        <input name="jediNameInput" [(ngModel)]="jedi.name" />
      </td>
      <td *ngIf="!isEdit(jedi)">{{ jedi.name | jediMaster }}</td>
      <td>{{ jedi.midichlorian | midichlorian }}</td>
      <td><button class="sw-edit-jedi" (click)="toggleEdit(jedi)">Edit</button></td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
  <span>loading</span>
</ng-template>
